__pycache__
.idea/
*.pyc
.idea/
dist/MyAnimeManager 2/
dist/output/
dist/pkg/
dist/src/
profile/
venv/
Tools/Liste des animés.docxTools/Planning de visionnage.docx
Tools/Planning de visionnage.txt
Tools/Liste des animés.docx
Tools/Planning de visionnage.docx

