__pycache__
.idea/
*.pyc

packaging/appimage/AppDir/
packaging/archlinux/output/
packaging/flatpak/build/
packaging/flatpak/.flatpak-builder/

profile/
venv/
Tools/Liste des animés.docxTools/Planning de visionnage.docx
Tools/Planning de visionnage.txt
Tools/Liste des animés.docx
Tools/Planning de visionnage.docx
