[Desktop Entry]
Version=1.0
Name=MyAnimeManager2
Type=Application
Comment="Un gestionnaire d"animés et de séries codé en Python"
Terminal=false
Exec=python /opt/MyAnimeManager2/MyAnimeManager2.py
Icon=/opt/MyAnimeManager2/ressources/icons/icon.png
StartupNotify=true
Categories=AudioVideo;
GenericName=MyAnimeManager2
Keywords=MyAnimeManager2
